[defaults]
roles_path = ./roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = True
stdout_callback = default
display_args_to_stdout = False

[privilege_escalation]
become = True
become_method = sudo
