[el0]
call = {{ echolink_call }}
pwd = {{ vault_echolink_password }}
name = {{ echolink_name }}
qth = {{ echolink_qth }}
email = {{ echolink_email }}
node = {{ echolink_node }}
astnode = {{ echolink_astnode }}
context = radio-secure
lat = {{ echolink_lat }}
lon = {{ echolink_lon }}
freq = {{ echolink_freq }}
tone = {{ echolink_tone }}
power = {{ echolink_power }}
height = {{ echolink_height }}
gain = {{ echolink_gain }}
dir = {{ echolink_dir }}
